body {
    background: url("/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    background-color: rgb(0, 0, 0, 0.55)!important;
}

.home {
    height: 93vh!important;
    backdrop-filter: none!important;
}